<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("head", required: false) <!--gfg -->
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            @RenderPage("~/_Menu.cshtml")
            @RenderSection("banner")
        </div>
        <!--banner for every page if declared in layout. a banner per page must go to a specific cshtml location.
        jumbotron is part of bootstrap.css which you can look up.
        you must add a new personal class in order to alter these values, otherwise they will be overwritten when you RESTORE the package-->
        @RenderBody()
    </div>
</body>
</html>
